<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}{{ title }}{% else %}Eleventy SCSS Template{% endif %}</title>
    <meta name="description" content="{% if description %}{{ description }}{% else %}A simple static website built with Eleventy and SCSS{% endif %}">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Thousand Oaks Christadelphians" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
</head>
<body>
    {% include "../_includes/header.njk" %}

    <main class="site-main">
        {{ content | safe }}
    </main>

    {% include "../_includes/footer.njk" %}
</body>
</html> 