@use "variables";
// Mixins
@mixin container {
  max-width: variables.$container-max-width;
  margin: 0 auto;
  padding: 0 variables.$container-padding;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin responsive($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
} 